form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  border: 2px solid fuchsia;
  background-color: #ffecec;
  padding: 20px;
  border-radius: 10px;
  max-width: 32rem;
  margin: auto;
}

.form-select {
  background-color: #ffecec !important;
}

.text-danger {
  font-size: 0.875rem;
  margin-top: 0.1rem;
}

.form-group {
  margin-bottom: 1rem;
}

/* Quitar las flechas en los campos de número para los navegadores basados en WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar las flechas en los campos de número para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-with-button {
  display: flex;
  align-items: stretch;
}

.input-with-button .btn {
  height: 100%;
}
