html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenido mínimo de la página ocupe toda la altura de la ventana */
}

footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

a {
  text-decoration: none;
}
